In [6]:
import pandas as pd

In [21]:
df1 = pd.read_csv("data/spam_data.csv")

In [31]:
df1['Spam/Ham'].value_counts()

Spam/Ham
spam    17171
ham     16545
Name: count, dtype: int64

In [22]:
df2 = pd.read_csv("data/full_dataset.csv")

In [28]:
df2 = df2[df2['category'] == 'spam']

In [39]:
df3 = pd.read_csv("data/emails.csv")

In [49]:
df3['spam'].value_counts()

spam
0    4360
1    1368
Name: count, dtype: int64

In [63]:
df1 = df1[df1['Date'] > '2005']

In [ ]:
df1.drop(['Message ID','Date'], axis = 1, inplace = True)

In [ ]:
df1.rename({'Subject':'subject','Message':'message','Spam/Ham':'spam'}, axis = 1, inplace = True)

In [90]:
df1.head(3)

,subject,message,spam
4622,rate approved at 3 . 25,"hello ,\nwe tried contacting you awhile ago ab...",spam
4623,want your music for free ? we teach you how to...,press here to enter !\nmembership comes with :...,spam
4624,hey friend - the cheappesst v . 1 . c . 0 . d ...,"your wife needs this\nv ^ 1 - c ^ o , d - 1 . ...",spam

In [ ]:
df2.drop(['id','text','category_id'], axis = 1, inplace = True)

In [ ]:
df2.rename({'body':'message', 'category':'spam'}, axis = 1, inplace = True)

In [97]:
df2.head(3)

,subject,message,spam
1,Your Amazon was used on new device,Your $5000 refund is processed. Claim: bit.ly/...,spam
2,Re: Your Google inquiry,"Hi, following up about your Google application...",spam
6,PayPal Funds Release,$750 held for verification. Confirm: paypal-fu...,spam

In [141]:
df3['subject'] = df3['text'].str[8:100]

In [143]:
df3.rename({'text':'message'}, axis = 1, inplace = True)

In [144]:
df3

,message,spam,subject
0,Subject: naturally irresistible your corporate...,1,naturally irresistible your corporate identit...
1,Subject: the stock trading gunslinger fanny i...,1,the stock trading gunslinger fanny is merril...
2,Subject: unbelievable new homes made easy im ...,1,unbelievable new homes made easy im wanting ...
3,Subject: 4 color printing special request add...,1,4 color printing special request additional ...
4,"Subject: do not have money , get software cds ...",1,"do not have money , get software cds from her..."
...,...,...,...
5723,Subject: re : research and development charges...,0,re : research and development charges to gpg ...
5724,"Subject: re : receipts from visit jim , than...",0,"re : receipts from visit jim , thanks again..."
5725,Subject: re : enron case study update wow ! a...,0,re : enron case study update wow ! all on th...
5726,"Subject: re : interest david , please , call...",0,"re : interest david , please , call shirley..."
5727,Subject: news : aurora 5 . 2 update aurora ve...,0,news : aurora 5 . 2 update aurora version 5 ...